{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<style>
    main {
        align-items: center;
    }

    form {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;

    }




    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .btn,
    .btn-primary {
        width: 75%;
        padding: 10px;
        background-color: #1976d2;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .card {
        align-items: center;
        border: none;
    }
        .card2 {
        align-items: end;
    }


</style>

<div class="card">
    <div class="card-body">
        <form method="post" class="form">
            {% csrf_token %}

            <table>
                {{ login_form.as_table }}
            </table>

            <div class="card card2">
                <input type="submit" class="btn btn-primary" value="Entrar">
            </div>

        </form>
    </div>

</div>
{% endblock %}