{% extends "base.html" %}
{% block title %}Catalogo de Produtos{% endblock %}
{% block content %}
  <style>
    .prod-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      margin: 0 auto;
      max-width: 1200px;
      padding: 20px;
    }

    .prod-card {
      background-color: #8e8e8e;
      box-shadow: 0 2px 6px rgba(0, 64, 255, 0.4);
      border-radius: 10px;
      overflow: hidden;
      text-align: center;
      transition: all 0.3s ease;
    }

    .prod-card:hover {
        cursor: pointer;
        box-shadow: 0 4px 10px red;
        transform: translateY(-2px);
    }

    .prod-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .prod-card h3 {
        font-size: 1.3rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .prod-card h2 {
      font-size: 1.3rem;
      margin: 8px;
    }

    .prod-card p {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      .prod-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 2px solid #e3e1e1;
        border-radius: 4px;
        margin-right: 10px;
        transition: border-bottom-color 0.3s ease-in-out;
    }

    input[type="text"]:focus {
        outline: none;
        border-bottom-color: #e3e1e1;
    }

    button[type="submit"] {
        background-color: #0096c7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    button[type="submit"]:hover {
        background-color: rgba(0, 64, 255, 0.4);
    }

    a {
      font-size: 18px;
      color: #333;
      text-decoration: none;
    }

    a:hover {
      color: red;
    }
  </style>

  <form method="GET" action="{% url 'catalogo' %}">
    <input type="text" name="titulo" placeholder="Buscar produto...">
    <button type="submit">Buscar</button>
  </form>

  <div class="prod-grid">
    {% if produtos %}
      {% for produto in produtos %}
        <a href="{% url 'prod_detail' produto.pk %}">
          <div class="prod-card">
            {% if produto.foto %}
              <img src="{{ produto.foto.url }}" alt="{{ produto.titulo }} - {{ produto.console }}">
            {% else %}
              <p class="no-photo">Foto não disponível</p>
            {% endif %}
            <h2>{{ produto.titulo }}</h2>
            <h3>Console: {{ produto.console }}</h3>
            <h3>R$ {{ produto.valor }}</h3>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p class="no-results">Nenhum produto encontrado.</p>
    {% endif %}
  </div>
  {% include 'components/_pagination.html' %}
{% endblock %}