{% extends "base.html" %}

{% block title %}
Inventário
{% endblock %}

{% block content %}

<main class="container py-4">

    <!-- Tabela de Resumo do Estoque -->
    <div class="table-responsive mb-4">
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark fw-bold">
                <tr>
                    <th>Quantidade de itens em estoque</th>
                    <th>Valor total do estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for item in estoque %}
                <tr>
                    <td>{{ item.contador_produtos }}</td>
                    <td>R${{ item.valor_estoque }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tabela de Produtos -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Console</th>
                    <th>Quantidade em Estoque</th>
                    <th>Valor Unitário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>
                        <a href="{% url 'prod_update' pk=produto.id %}"
                            class="text-decoration-none text-white fw-semibold">
                            {{ produto.id }}
                        </a>
                    </td>
                    <td>{{ produto.titulo }}</td>
                    <td>{{ produto.console }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>R${{ produto.valor }}</td>
                    <td>
                        <a href="{% url 'entrada_create' %}?produto_id={{ produto.id }}" class="btn btn-success">
                            <i class="bi bi-plus-square"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>

{% include 'components/_pagination.html' %}

{% endblock %}