{% extends "base.html" %}
{% load static %}

{% block title %}
Detalhes do produto
{% endblock %}

{% block content %}

<style>
  .card {
    background-color: #000000;
    box-shadow: 0 10px 10px rgba(0, 4, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;

  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(255, 0, 0, 0.4);
    transform: translateY(-2px);
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-white bg-dark">

        {% if object.foto %}
        <img src="{{ object.foto.url }}" class="card-img-top img-fluid" alt="{{ object.titulo }}">
        {% else %}
        <div class="card-img-top text-center py-5 bg-secondary text-white">
          Foto não disponível
        </div>
        {% endif %}

        <div class="card-body">
          <h4 class="card-title">{{ object.titulo }}</h4>
          <h5 class="card-subtitle mb-2 text-muted">Console: {{ object.console }}</h5>

          {% if object.ano_lancamento %}
          <p class="card-text"><strong>Ano de lançamento:</strong> {{ object.ano_lancamento }}</p>
          {% endif %}

          <p class="card-text"><strong>Preço:</strong> R$ {{ object.valor }}</p>

          {% if object.descricao %}
          <p class="card-text"><strong>Descrição:</strong> {{ object.descricao }}</p>
          {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-center flex-wrap gap-1">
          {% if produto.quantidade == 0 %}
          <div class="btn btn-danger">Indisponivel no estoque</div>
          {% else %}
          <form onsubmit="event.preventDefault(); adicionarAoCarrinho({{ object.id }});">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Adicionar ao carrinho</button>
          </form>
          {% endif %}

          {% if user.is_authenticated and user.is_superuser %}
          <a href="{% url 'prod_update' pk=object.pk %}" class="btn btn-primary">Editar</a>
          <a href="{% url 'prod_delete' pk=object.pk %}" class="btn btn-danger">Deletar</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}